Personal Finance with Dashboard.json
{
  "name": "Personal Finance with Dashboard",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "8e7a0ad3-1b46-44a3-99fe-69fe98d45877",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1600,
        368
      ],
      "webhookId": "8983286b-1b49-431e-ba52-9ba8181c646a",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b2a1e904-90da-4412-8062-78fa61274716",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3760,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "d00cfda6-7f73-428f-b8ad-696fae22d339",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2864,
        1056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extractedText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Telegram chatbot for receipt tracking, expense queries. You assist users by processing receipts,you also have access to a google sheet where all expenseses are logged and a calculator to perform complex math.\n\nAlways analyze the extracted text from the receipt.\n\n1. Receipt Processing:\n   - Analyze the extracted text from OCR/PDF extraction.\n   - Extract:\n     - Date (YYYY-MM-DD)\n     - Amount (MYR, number, e.g., 1500)\n     - Description (brief summary at least a sentence)\n     - Category: food, transportation, subscriptions, takeouts, other stuffs, gift, electricity, Repairs,entertainment \n   - Defaults: date=today, amount=0, category=\"other stuffs\" if unclear.\n  - Output \"data\" as: {\"date\": \"YYYY-MM-DD\", \"amount\": 1500, \"description\": \"Brief summary\", \"category\": \"category_name\"}\n   - \"message\": User-friendly confirmation, e.g., \"Receipt processed! Date: [date], Amount: [amount] NGN, Category: [category].\"\n\n2. Tone & Rules:\n   - Friendly, concise, professional.\n   - For errors (e.g., invalid file, unreadable text): Output {\"type\": \"error\", \"data\": {}, \"message\": \"Sorry, couldn't process—try again!\"}\n   - Always output valid JSON.\n   - For receipts: {\"type\": \"receipt\", \"data\": {\"date\": \"YYYY-MM-DD\", \"amount\": number, \"description\": \"string\", \"category\": \"string\"}, \"message\": \"string\"}\n   - For spend queries: {\"type\": \"spend\", \"data\": {\"start_date\": \"YYYY-MM-DD\", \"end_date\": \"YYYY-MM-DD\", \"category\": \"string\" | null}, \"message\": \"string\"}\n   - For general/financial queries: {\"message\": \"string\"}\n- always maintain the Json structure and where information doesn't exsist leave as empty \"\"\n- if amount is equaly to 0 leave as empty \"\"\n\nOutput: JSON as specified\n\n{\n  \"type\": \"receipt\",\n  \"data\": {\n    \"date\": \"2025-09-10\",\n    \"amount\": 1500,\n    \"description\": \"Groceries from supermarket\",\n    \"category\": \"food\"\n  },\n  \"message\": \"Receipt processed! Date: 2025-09-10, Amount: 1500 MYR, Category: food.\"\n}",
          "passthroughBinaryImages": true
        }
      },
      "id": "161efbf2-c9cb-4d9f-b2b3-7e487efc6fef",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        4400,
        560
      ],
      "typeVersion": 2.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "id": "5db4aa8b-c934-4459-ab7c-182978dfd8a6",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        4208,
        784
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "rF467Zj0c3HtjhOa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chatid",
        "contextWindowLength": 10
      },
      "id": "bb81e4cb-3dde-4569-978c-cdfd026f44fa",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        4352,
        784
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "3a0094b2-5cde-4ab0-9482-8b2cfeae4f48",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        4464,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abcd0b2d-0711-43d4-bf2b-7ea651662dd0",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.photo[0].height }}",
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e948e774-03df-493b-bd1c-63241d678d56",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee2205bd-5270-448a-8c63-8323bc7856ac",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{$json.message.text.toLowerCase().includes('dashboard') || $json.message.text.toLowerCase().includes('summary') }}",
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41c1cbc9-e935-4f47-9f39-099f97908b29",
                    "leftValue": "={{$json.message.text.toLowerCase().includes('dashboard') || $json.message.text.toLowerCase().includes('summary') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ede561b7-a315-4972-bc32-6ffc71e26a56",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1792,
        336
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {
          "mimeType": ""
        }
      },
      "id": "f1466a0b-9b48-4270-87ed-c050c45a6ed1",
      "name": "Get a file1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2240,
        336
      ],
      "webhookId": "edae8ea5-810e-4394-822c-74e00ae86e99",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "qFrK0IYex2QL8M1s",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "id": "38e2d69d-9190-4e53-a421-25958f2c78f4",
      "name": "Get a file2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2240,
        864
      ],
      "webhookId": "1230cdd6-bac4-4363-b43d-15848025d54b",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "qFrK0IYex2QL8M1s",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nTD4c1_DAuDJAC9oDvgdNkp3-Fl5hT6t25DkiR3-LsE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XfL5d023PVUF-N7IQfIFhbrGuZ-EDjM0hJEqnLXxNws/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date ": "={{ $json.date }}",
            "Category": "={{ $json.category }}",
            "google drive image": "={{ $('Extract Text for AI').item.json.driveLink }}",
            "Description ": "={{ $json.description }}",
            "Amount in RM": "={{ $json.amount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date ",
              "displayName": "Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount in RM",
              "displayName": "Amount in RM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description ",
              "displayName": "Description ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google drive image",
              "displayName": "google drive image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "df9172fb-6ea1-410b-9c10-fe7795519cb4",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4928,
        560
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DQPSm1uVQ7yKUYK",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Final Output').item.json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "dcbbf55d-c1bf-4b5d-bbb3-cb43e0763751",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        5152,
        560
      ],
      "webhookId": "3a139942-efc0-42f7-b0e7-ac284daf7fd2",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "qFrK0IYex2QL8M1s",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Access the binary data from the previous node\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  throw new Error(\"No binary data found\");\n}\n\n// binaryData.data is the Base64-encoded string of the image file\nconst base64Image = binaryData.data;\n\n// You can now use this base64Image string as needed,\n// for example, send it to another service or include it in JSON output\n\nreturn {\n  json: {\n    base64Image: base64Image,\n  },\n  binary: {\n    data: binaryData, // optionally keep the binary data for next nodes\n  }\n};"
      },
      "id": "cc4e7d41-6cea-4ac7-aaa2-07cd23597291",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        2640,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $json.result.file_unique_id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "folderId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "id": "878d2052-936a-4025-9d11-1d0cc63fe121",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3088,
        272
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "name": "={{ $('Get a file2').item.json.result.file_id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Ide1xEytIBX5HoMl5I8laR4_rjseRXoY",
          "mode": "list",
          "cachedResultName": "GDG Sunway Sharing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ide1xEytIBX5HoMl5I8laR4_rjseRXoY"
        },
        "options": {}
      },
      "id": "97871ced-9204-40bd-b00a-cac4b1953190",
      "name": "Upload file1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2864,
        672
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IMnQcvp7cwyxMpPq",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "2bc85951-4ddc-4f6e-8ddb-75b9990ef460",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        3312,
        848
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "0c72cf55-4e1e-4a98-9e90-be5fedb5bab4",
      "name": "Analyze an image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        3088,
        448
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "rF467Zj0c3HtjhOa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "85ba597f-5264-4e7f-9e09-ba149469eae8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        3312,
        336
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "09e5f9b6-3b82-4b79-8574-35eadb893e68",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "99303ca9-09ea-4eb4-bac2-80bc0d4d7e1c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        3536,
        560
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful Telegram finance assistant that answers spending questions and provides financial advice. You have access to expense data and can perform calculations.\n\nHow to handle user queries:\n\nSpending Questions:\nWhen users ask about their expenses, analyze:\n- Time period (any month, year, or custom range)\n- Categories (if specified) \n- Calculation type (totals, percentages, averages, comparisons)\n\nUse available data and calculator for:\n- Total spending amounts\n- Category breakdowns and percentages\n- Monthly/quarterly/yearly comparisons\n- Spending trends and patterns\n- Average spending calculations\n\nProvide clear, detailed answers with specific numbers and helpful insights.\n\nFinancial Advice:\n- Offer practical tips for budgeting, saving, and money management\n- Explain financial concepts in simple terms\n- Provide supportive, non-judgmental guidance\n\nGeneral Responses:\n- Be friendly, concise, and helpful\n- If you can't answer something: \"I don't have enough data to answer that question yet.\"\n- Always respond in natural, conversational language\n\nExamples:\n- \"How much did I spend on food last month?\" → \"Last month you spent 15,400 NGN on food across 12 transactions.\"\n- \"What percentage of my spending was transportation?\" → \"Transportation made up 22% of your September spending, totaling 8,500 MYR.\"\n- \"Show me my top spending categories\" → \"Your top categories last month were: Food (35%), Transportation (22%), and Entertainment (15%).\"\n- \"Compare my spending this month vs last month\" → \"Your spending this month is 18% lower than last month. You saved the most on dining out and transportation.",
          "passthroughBinaryImages": true
        }
      },
      "id": "5bb14e0c-d691-4d0f-a450-38543351b313",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2528,
        -176
      ],
      "typeVersion": 2.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chatid",
        "contextWindowLength": 10
      },
      "id": "59a0a7fd-5d7a-453c-b9f1-dd7d6980c9f6",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2496,
        -32
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "2106a8a9-e524-47ba-9bd6-52476c4be06b",
      "name": "Calculator1",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        2608,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "=None"
        }
      },
      "id": "1e5e3388-b808-4177-abd9-a3500e6a4ac5",
      "name": "Send a text message1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3104,
        32
      ],
      "webhookId": "6e6efbd7-ffda-41d6-b1fd-8bcbb9743ce7",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "qFrK0IYex2QL8M1s",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nTD4c1_DAuDJAC9oDvgdNkp3-Fl5hT6t25DkiR3-LsE",
          "mode": "list",
          "cachedResultName": "GDG-Monthly expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTD4c1_DAuDJAC9oDvgdNkp3-Fl5hT6t25DkiR3-LsE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTD4c1_DAuDJAC9oDvgdNkp3-Fl5hT6t25DkiR3-LsE/edit#gid=0"
        },
        "options": {}
      },
      "id": "124f71c3-814b-4d17-9eed-ae51ff049374",
      "name": "Get row(s) in sheet in Google Sheets1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        2736,
        -16
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DQPSm1uVQ7yKUYK",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "82d9e544-a6e0-429b-94c8-bc3ef0d44419",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2368,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Trigger/ start workflow\n\nThis is where the workflow begins with a telegram node\n\nthen a switch node that would determine if the input form telegram is an image, text or pdf ",
        "height": 592,
        "width": 768,
        "color": 6
      },
      "id": "f492ed78-d926-46a6-b720-4f58342eab3c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Sorting, extracting and OCR\n\n_Here images are OCRed with Gemini model or any model of your choice \n_ PDF are extracted with the extract with the native extract form PDF node\n_ Everything is aggregated with an aggregator node which is then passed to an LLM \n\n\n",
        "height": 1056,
        "width": 1184,
        "color": 3
      },
      "id": "41b3e1eb-202f-496d-9f87-a2ee5bc2e8e7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Process text Enquires \n\nThis section processes financial questions, advice and information about financial spend, the Gemini model has access to your excel sheet, a simple memory and calculator to aid with all the enquires it gets.",
        "height": 656,
        "width": 880,
        "color": 4
      },
      "id": "1983de8d-7a5d-4d9e-b4ec-615494616153",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2336,
        -448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Invoice Processing\n   The agent processes the information form the invoice and then appends to your excel sheet",
        "height": 672,
        "width": 1280,
        "color": 4
      },
      "id": "6900b7cf-fcd5-49a3-8407-a7d1ce5be656",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3984,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Personal Finance Telegram Bot: Automated Receipt Tracking & Expense Queries\n\nThis workflow turns your Telegram bot into a smart personal finance assistant. Send receipt photos/PDFs or text, and AI (Google Gemini) extracts date, amount (in MYR), description, and category — then logs it to Google Sheets with the image uploaded to Google Drive.\n\nAsk natural language questions like \"How much did I spend last month?\" or \"Total on food this month?\" and get AI-powered summaries, breakdowns, and insights using your logged data.\n\nPerfect for effortless expense tracking without manual entry!\n\n## How it works\n- Telegram Trigger detects incoming messages/photos/documents.\n- Switch routes: images/PDFs → OCR/analysis/upload → AI parsing → log to Sheets.\n- Text queries → AI agent queries Sheets data + calculator for answers.\n- Confirmation/summary replies sent back to Telegram.\n\n## Setup steps\n1. Connect credentials: Telegram API, Google Sheets (OAuth2), Google Drive, Google Gemini API.\n2. Update Google Sheets node with your spreadsheet ID (pre-filled, but verify).\n3. Update Google Drive upload nodes with your folder ID for receipts.\n4. Activate the workflow and send a test message/receipt to your bot.\n\nLive Google Sheet (Template)\nYou can make a copy of the exact sheet the bot uses:\nhttps://docs.google.com/spreadsheets/d/1nTD4c1_DAuDJAC9oDvgdNkp3-Fl5hT6t25DkiR3-LsE/edit?usp=sharing\n\nJust click File → Make a copy and use your copy’s ID in the workflow.\n\n## Image Quality Tip\nFor best OCR results, send images and pdf only in Telegram. Tap the paperclip icon → File → select your image. This preserves original quality without compression.\n\n## Customization tips\n- Edit AI Agent prompts to add/remove categories or refine parsing.\n- Adjust memory window or add more tools for advanced queries.",
        "height": 992,
        "width": 688
      },
      "id": "07b0eaa0-88b3-4e66-bdfb-5d19e592b9c4",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      const file = item.binary[key];\n      const ext = (file.fileExtension || \"\").toLowerCase();\n      const name = (file.fileName || \"\").toLowerCase();\n\n      if (file.mimeType === \"application/octet-stream\") {\n        if (ext === \"heic\" || name.endsWith(\".heic\")) {\n          file.mimeType = \"image/heic\";\n        } else if (ext === \"pdf\" || name.endsWith(\".pdf\")) {\n          file.mimeType = \"application/pdf\";\n        } else if (ext === \"png\" || name.endsWith(\".png\")) {\n          file.mimeType = \"image/png\";\n        } else {\n          file.mimeType = \"image/jpeg\";\n        }\n      }\n    }\n  }\n}\nreturn $input.all();"
      },
      "id": "8608a35c-1943-4046-927e-40b3497fad79",
      "name": "Fix MIME Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nlet textContent = \"\";\nlet driveLink = \"\";\n\n// Flatten everything from the aggregated data array\nconst aggregatedData = allItems[0]?.json?.data || [];\n\n// Get Gemini text\nconst geminiResult = aggregatedData.find(item => item.content?.parts);\nif (geminiResult) {\n  textContent = geminiResult.content.parts.map(p => p.text || \"\").join(\" \");\n}\n\n// Get Drive link\nconst driveFile = aggregatedData.find(item => item.webViewLink && item.kind === \"drive#file\");\nif (driveFile) {\n  driveLink = driveFile.webViewLink;\n}\n\nif (!textContent.trim()) {\n  textContent = \"No readable text found. Please ensure the image contains clear text.\";\n}\n\nreturn [{ json: { extractedText: textContent, driveLink } }];"
      },
      "id": "4400507f-07e3-42c5-a817-e7e8e5a14786",
      "name": "Extract Text for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "pdf-check",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $(\"Get a file2\").item.json.result.file_path }}",
              "rightValue": "pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "55028535-4f2a-4ea4-bf62-31ab7c4842dc",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2640,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      const file = item.binary[key];\n      const ext = (file.fileExtension || \"\").toLowerCase();\n      const name = (file.fileName || \"\").toLowerCase();\n\n      if (file.mimeType === \"application/octet-stream\") {\n        if (ext === \"heic\" || name.endsWith(\".heic\")) {\n          file.mimeType = \"image/heic\";\n        } else if (ext === \"pdf\" || name.endsWith(\".pdf\")) {\n          file.mimeType = \"application/pdf\";\n        } else if (ext === \"png\" || name.endsWith(\".png\")) {\n          file.mimeType = \"image/png\";\n        } else {\n          file.mimeType = \"image/jpeg\";\n        }\n      }\n    }\n  }\n}\nreturn $input.all();"
      },
      "id": "ab349b02-612a-4152-8a43-fa013b3e6f9c",
      "name": "Fix MIME Type1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        864
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "c73e16b5-d3ee-4f9c-9c06-de9b6c56478b",
      "name": "Analyze an image1",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3088,
        864
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "rF467Zj0c3HtjhOa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nTD4c1_DAuDJAC9oDvgdNkp3-Fl5hT6t25DkiR3-LsE",
          "mode": "list",
          "cachedResultName": "GDG-Monthly expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTD4c1_DAuDJAC9oDvgdNkp3-Fl5hT6t25DkiR3-LsE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nTD4c1_DAuDJAC9oDvgdNkp3-Fl5hT6t25DkiR3-LsE/edit#gid=0"
        },
        "options": {}
      },
      "id": "3e5657b0-5566-41c3-a2f5-d2440bfd37c3",
      "name": "Get row(s) in sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        4592,
        784
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4DQPSm1uVQ7yKUYK",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || \"\";\n\n// Strip markdown code fences\nconst cleaned = raw.replace(/```json\\n?/g, \"\").replace(/```/g, \"\").trim();\n\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    type: parsed.type || \"\",\n    date: parsed.data?.date || \"\",\n    amount: parsed.data?.amount || \"\",\n    description: parsed.data?.description || \"\",\n    category: parsed.data?.category || \"\",\n    message: parsed.message || \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        560
      ],
      "id": "7f16ba12-5b58-4915-bdd1-3dc6b875b21f",
      "name": "Final Output"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        -704
      ],
      "id": "b0622c1c-866d-49d9-b710-e6084734360b",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst totals = {};\nlet grandTotal = 0;\n\nfor (const row of rows) {\n  const category = row.json[\"Category\"] || \"Other\";\n  const amount = parseFloat(row.json[\"Amount in RM\"]) || 0;\n  \n  totals[category] = (totals[category] || 0) + amount;\n  grandTotal += amount;\n}\n\nconst labels = Object.keys(totals);\nconst values = Object.values(totals).map(v => Math.round(v * 100) / 100);\n\n// Build QuickChart config\nconst chartConfig = {\n  type: \"doughnut\",\n  data: {\n    labels: labels,\n    datasets: [{\n      data: values,\n      backgroundColor: [\n        \"#FF6384\", \"#36A2EB\", \"#FFCE56\", \"#4BC0C0\",\n        \"#9966FF\", \"#FF9F40\", \"#C9CBCF\"\n      ]\n    }]\n  },\n  options: {\n    plugins: {\n      title: {\n        display: true,\n        text: \"Spending by Category (RM)\",\n        font: { size: 18 }\n      },\n      legend: { position: \"bottom\" }\n    }\n  }\n};\n\n// Build text summary for the caption\nconst breakdown = labels.map((label, i) => {\n  const pct = ((values[i] / grandTotal) * 100).toFixed(1);\n  return `${label}: RM ${values[i]} (${pct}%)`;\n}).join(\"\\n\");\n\n// Simple recommendations\nconst topCategory = labels[values.indexOf(Math.max(...values))];\nconst recommendations = [\n  `💡 Your biggest spend is *${topCategory}* — review if this aligns with your priorities.`,\n  grandTotal > 1000 ? \"⚠️ Total spending is above RM 1,000 — consider setting a monthly budget.\" : \"✅ Total spending looks manageable.\",\n];\n\nreturn [{\n  json: {\n    chartConfig: JSON.stringify(chartConfig),\n    grandTotal: grandTotal.toFixed(2),\n    breakdown,\n    recommendations: recommendations.join(\"\\n\")\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        -704
      ],
      "id": "b6d21d55-20ee-44ae-9509-3012b74e86d4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://quickchart.io/chart/create",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chart\": {{ $json.chartConfig }},\n  \"width\": 500,\n  \"height\": 400,\n  \"backgroundColor\": \"white\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2544,
        -704
      ],
      "id": "e295eb97-8c4e-4147-963c-a5e8df1376cd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {
          "caption": "=📊 *Your Spending Dashboard* ───────────────────── Total: RM{{ $('Code in JavaScript1').item.json.grandTotal }}\n\n-Categories breakdown:\n{{ $('Code in JavaScript1').item.json.breakdown }}\n\nRecommendations:\n{{ $('Code in JavaScript1').item.json.recommendations }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2752,
        -704
      ],
      "id": "7c43d85f-61cb-4dd9-9418-b85fda20aaa9",
      "name": "Send a photo message",
      "webhookId": "d3ece7b4-d728-4341-b6c7-24d7ca6bd8e6",
      "credentials": {
        "telegramApi": {
          "id": "qFrK0IYex2QL8M1s",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Dashboards and Recommendations\n\nThis section processes creates dashboards and summaries for users to visualise it. \n",
        "height": 352,
        "width": 896,
        "color": "#430404"
      },
      "id": "7f816a74-f5e1-438a-9eb1-6bd5583c536f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        -864
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 153028062,
          "message": {
            "message_id": 117,
            "from": {
              "id": 1039492236,
              "is_bot": false,
              "first_name": "JC",
              "username": "jc31688",
              "language_code": "en"
            },
            "chat": {
              "id": 1039492236,
              "first_name": "JC",
              "username": "jc31688",
              "type": "private"
            },
            "date": 1778916768,
            "text": "How much % for each category?"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Extract Text for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file2": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fix MIME Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fix MIME Type": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text for AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix MIME Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix MIME Type1": {
      "main": [
        [
          {
            "node": "Analyze an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Final Output": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b5d5224a-dde1-4759-b62a-6ba55af84dad",
  "meta": {
    "templateId": "10871",
    "templateCredsSetupCompleted": true,
    "instanceId": "16754f225303c7e60a34f2d1dca9dc82f601e3f6175557d75a0d57abfd448b60"
  },
  "id": "M5oY3QwQmTTMVAvl",
  "tags": []
}